name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        # Using @master to get the latest fixes for the 'chown' error
        uses: ArtemSBulgakov/buildozer-action@master
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
